html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}



a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  background-color: #0d47a1;
}


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


.text{
  opacity: 0;
}

.hide:hover .text{
  opacity: 1;

}
.image{
  padding: 0;
  margin: 0;
}
div{
  margin: 0%;
  padding: 0;
}

.skill{
  width: 4rem;
}
.empty{
  opacity: 0;
}

@media screen and (max-width : 500px){
  .main{
    margin-top: 63px;
  }
  .skill{
    width: 3rem;
  }
  .texta{
    opacity: 0;
  }
  .hidNav{
    opacity: 0;
  }
  .hide:hover .texta{
    opacity: 1;
  }
}